.navbar__toggle
ul.navbar

	li.navbar__item
		a(href="agreement.html").navbar__link Договор
	li.navbar__item
		a(href="contact.html").navbar__link Контакты
	li.navbar__item
		a(href="news.html").navbar__link Новости
	li.navbar__item
		a(href="map.html").navbar__link Карта АЗС
			i.icon.icon_drop
		ul.navbar__drop
			li.navbar__dropItem
				a.navbar__dropLink(href="cards.html") Подпункт 1
			li.navbar__dropItem
				a.navbar__dropLink(href="cards.html") Подпункт 2
			li.navbar__dropItem
				a.navbar__dropLink(href="cards.html") Подпункт 3
	li.navbar__item
		a(href="#").navbar__link Личный кабинет
