extends template.jade

block variables
	-var pageClass = "";
	-var topImg = "background-image: url(img/newsTop-bg.jpg)";
	-var pageTitle = "Система спутникового мониторинга автотранспорта";


block title
	title #{pageTitle}

block content
	.container_center
			
		// begin breadcrumb 
		ul.breadcrumb
			li
				a(href="index.html") Главная
			li
				a(href="news.html") Новости
			li
				a(href="#" class="active") #{pageTitle}
		// end breadcrumb 

		.page__content
			.page__img
				img(src="img/new.jpg", alt="")
			.page__date Опубликовано 15 апреля 2018

			.page__text
				p Для максимального контроля за автотранспортом, за расходом топлива и его сокращения предприятиям рекомендуется использовать современное наиболее действенное средство - комплексный контроль, который включает в себя, одновременно, систему мониторинга транспорта, контроль топлива и возможность прикрепления аналитических данных из отчетности топливных карт. Данное программное решение было разработана по просьбам клиентов, непосредственно, под их нужды. Онлайн сервис позволяет сэкономить и время на сопоставление многочисленных аналитических параметров, и средства за счет выявления подозрительных транзакций и фактов кражи топлива.
				p Комплексная система спутникового мониторинга автотранспорта GPS - Глонасс и контроля топлива предоставляет следующие отчетные данные:

				ol
					li
						b Пребывание траснпортного средства на АЗС в момент заправки. <br>
						|Программа сопоставляет уточненные данные мониторинга, полученные от систем Глонасс и GPS c данными топливной карты. Если координаты нахождения автомобиля и координаты АЗС расходятся, в отчете указывается реальный адрес пребывания транспортного средства в момент заправки по карте. Должно быть карта была передана водителем другому лицу с целью хищения топлива. На это следует обратить особое внимание!
					li
						b Количество заправленного топлива в бак. <br>
						|Если по карте топлива заправлено больше, чем по данным контрольного датчика, скорее всего имеет место слив топлива. Стоит взять водителя на особый контроль.
					li
						b Средний расход топлива. <br>
						|Ориентируясь на эти данные можно делать выводы об исправности двигателя и топливной системы в целом, и предотвратить крупную поломку.

				h3 Как это работает:

				p После установки на автотранспорт организации приборов спутникового мониторинга (слежения) руководитель может контролировать в реальном времени географическое положение транспортных средств. Отклонения от маршрутов по личным делам становятся, скорее, исключением из правил. Водители начинают позволять себе меньше вольностей. Соответственно, меньше топлива тратится мимо нужд компании. Темп износа транспорта (амортизация) также снижается.

				p Контроль скорости позволяет избежать не только перерасхода топлива, но и снизить количество штрафов за нарушение ПДД транспортом Вашего автопарка.

				p Уровень топлива в баке контролируется с помощью дополнительных врезных датчиков либо путем присоединения к штатной бортовой системе. Изменения уровня топлива фиксируются системой мониторинга. Любая попытка слива топлива отображается в личном кабинете. Уменьшается количество краж горючего водительским составом.

				p Использование топливных карт позволяет максимально автоматизировать контроль расхода топлива, поскольку данные автоматически подтягиваются в систему мониторинга и их не нужно отдельно вносить вручную или загружать из файла. Таким образом, и спутниковый мониторинг автотранспорта, и топливные карты - две современные системы контроля в данном случае работают совместно! И это наиболее эффективно!

				p 
					b.txt_danger Важно: 
					|Система мониторинга автотранспорта Глонасс - GPS при помощи новейших космических технологий значительно повышает шансы отыскать транспортное средство в случае угона при условии быстрого реагирования!
			
		aside.aside
			.aside__title Ещё по теме
			.aside__list
				a(href="#").aside__item
					.aside__img
						img(src="img/aside1.jpg", alt="")
					.aside__date 15 апреля 2018
					.aside__name Технические работы

				a(href="#").aside__item
					.aside__img
						img(src="img/aside2.jpg", alt="")
					.aside__date 15 апреля 2018
					.aside__name Закон о тахографах 

