block variables
	-var pageClass = "";
	-var topImg = "";
	-var pageTitle = "";

<!DOCTYPE html>
html(lang="en")

	include head.jade

	body(class=pageClass)
		.wrapper
			
			if pageClass == "home"
				include header_home.jade
			else
				include header.jade

			// begin main__content
			main.main__content
				
				block content

			// end main__content 

		include footer.jade